.docker/db/master/data/*
.docker/db/slave-1/data/*
.docker/db/slave-2/data/*

!.docker/db/master/data/pg_hba.conf
!.docker/db/master/data/postgresql.conf

!.docker/db/slave-1/data/pg_hba.conf
!.docker/db/slave-1/data/postgresql.conf

!.docker/db/slave-2/data/pg_hba.conf
!.docker/db/slave-2/data/postgresql.conf